[data-pseudo-content]::before,
[data-pseudo-content--before]::before,
[data-pseudo-content--after]::after {
    content: attr(data-pseudo-content);
}

code {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Menlo, Monaco, "Andale Mono", "Ubuntu Mono", "lucida console", monospace;
    background-color: $codeBg;
    color: $codeColour;
    border: 1px solid $codeBorder;
}

pre {
    padding: 0;
    margin-bottom: 0;
    overflow-x: auto;

    code {
        display: block;
        overflow-wrap: normal;
        word-wrap: normal;
        white-space: pre;
        font-family: Menlo, Monaco, "Andale Mono", "Ubuntu Mono", "lucida console", monospace;
        font-size: 1.2em;
        @include border-radius(4px, 4px);
        &.hljs {
            padding-right: 10px;
        }
    }
}

.linenos {
    @include user-select(none);
    float: left;
    background-color: $lineBg;
    color: $lineColour;
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

.hljs {
    padding: 0;

    &.singleline {
        padding: 10px;
    }
}
