$bodyBg: #000000;
$containerBg: #f8f8f8;
$textBg: #000000;
$footerBg: #333;
$footerText: #aaa;
$imgBorder: #707070;
$imgBg: #efefef;
$quoteBorder: #cfcfcf;
$postBottom: #e0e0e0;
$searchBorder: #cfcfcf;
$jumboBg: #333;
$jumboText: #505050;
$lineBg: grey;
$lineColour: #d1d9e1;
$kbdColour: #333;
