p, h1, h2, h3, h4, h5, h6, li, nav a, a {
    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
    text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {

    a {
        color: $textBg;
    }
}
