body {
    background-color: $bodyBg;
}

.container {
    background-color: $containerBg;

    &#mainbody {
        padding-top: 20px;
    }
}

.headercontainer {
    padding-left: 0;
    padding-right: 0;
}

.footercontainer {
    background-color: $footerBg;
    color: $footerText;
}

article.post {

    margin-bottom: 50px;
    border-bottom: 1px dotted $postBottom;

    h1 {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    h2 {
        padding-top: 0.8em;
        border-top: 1px dotted $postBottom;
    }
}

ul.categorylist {
    padding-left: 0px;
    margin-bottom: 20px;

    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
    }
}

ul.pager {
    li a {
        background-color: inherit;
        border: 0;
    }
}

div.navbar-header {
    width: 100%;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    margin-bottom: 0;
    background-color: $jumboBg;
    color: $jumboText;
    background: url('/pattern.svg');
    border-radius: 0 !important;

    h1 {
        font-size: 3em;
        line-height: 1.2em;

        a {
            color: $jumboText;
        }
    }

    h2 {
        font-size: 1.5em;
    }
}

section#links a {
   display: block;
   font-size: 16px;
   color: $textColour;
   padding: 5px 0;
}
