input#search {
   width: 200px;
}

ul.searchresults {
    display: none;
    background-color: $containerBg;
    font-size: 10px;
    list-style-type: none;
    padding-left: 0;
    overflow-y: overlay;
    z-index: 9999;
    position: absolute;
    top: 50px;
    border: 1px solid $searchBorder;
    width: 200px;

    li {
        border-bottom: 1px solid $searchBorder;

        a {
            padding: 5px;
            display: block;
            color: $textColour;
            text-decoration: none;

            &:hover {
                background-color: $searchBorder;
            }
        }
    }
}
