p.copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;

    a {
        text-decoration: none;
    }
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
}

p, li {
    font-size: 1.4em;
    line-height: 1.5em;

    li {
        font-size: 100%;

        li {
            font-size: 100%;
        }
    }
}

p {
    strong {
        font-weight: 900;
        color: $textColour;
    }

    &.date {
        color: $footerText;
    }
}

a {
    transition: color 0.3s;
}

kbd {
   padding: 2px 4px;
   font-size: 90%;
   color: $kbdText;
   background-color: $kbdColour;
   border-radius: 3px;
   box-shadow: inset 0 -1px 0 $shadow;
}
