<div class="col-md-4">
    <h1>Recent Posts</h1>
    {{#each recent_posts}}
    <p><a href="{{ this.path }}">{{capitalize this.meta.title}}</a></p>
    {{/each}}
    <section>
       <h2>About me</h2>
       <p>I'm a web and mobile app developer based in Norfolk. My skillset includes Python, PHP and Javascript, and I have extensive experience working with CodeIgniter, Laravel, Django, Phonegap and Angular.js.</p>
    </section>
    {{#if data.github}}<section id="github-profile">
    </section>
    <h4>My GitHub repositories</h4>
    <ul id="github-repos">
        <li>Loading repositories...</li>
    </ul>
    {{/if}}
</div>
