		<amp-analytics type="googleanalytics" id="analytics1">
			<script type="application/json">
				{
					"vars": {
						"account": "{{ data.googleanalytics }}"
					},
					"triggers": {
						"trackPageview": {
							"on": "visible",
							"request": "pageview"
						}
					}
				}
			</script>
		</amp-analytics>
  </body>
</html>
